- if @state_logs.count > 0
  - @state_logs.each do |state_log|
    .state-log
      .state-log-when.text-muted
        = state_log.created_at
      .state-log-change
        = state_log.column.humanize.titleize
        changed from 
        - if state_log.from != nil
          %strong #{state_log.from.to_s.titleize}
        - else
          %em nil
        to 
        - if state_log.to != nil
          %strong #{state_log.to.to_s.titleize}
        - else
          %em nil
- else
  There is currently no logged history. Please check again later.
