- content_for :subnav do
  = render 'layouts/subnav_dji'

.jumbotron
  %h1.display-4 Statistics
  %p.lead
    Interesting information about shipped DJI Mavic Pros.


.orders-subheader
  .orders-chart
    = bar_chart country_chart_data_dji_track_orders_path

.orders-subheader
  .orders-chart
    = area_chart recently_shipped_chart_data_dji_track_orders_path
