.jumbotron
  %h1.display-5 Welcome to DroneHome!
  %p.lead
    A home for drone enthusiasts to learn about the latest drones, hear about drone news, learn about the
    latest drone laws, and connect with each other.
