.jumbotron
  %h1.display-5 Welcome to DroneHome!
  %p.lead
    A home for drone enthusiasts to learn about the latest drones, hear about drone news, learn about the
    latest drone laws, and connect with each other.

.row
  .col-md-4
    .card
      .card-block
        %h4.card-title Drone Chat
        %p.card-text
          Realtime discussions with other drone enthusiasts. DroneHome on Slack has many rooms to discuss specific drone brands and models, as well as regional rooms to talk to drone
          pilots in your neck of the woods.
        .text-xs-center
          = link_to 'Request Invitation', 'https://welike.typeform.com/to/m03t7Q', class: 'btn btn-primary'
      .card-footer
        .text-muted
          It's free and public.