.jumbotron
  %h1.display-3 Welcome to DJI Track!
  %p.lead
    A place to track your DJI preorders, regular orders, and understand where your order is in relation to
    other people's shipping status.
  %p
    = link_to 'Head over to Mavic Orders', orders_path, class: 'btn btn-lg btn-primary'