%h1 News
%h6.text-muted Bringing you drone news from inside the community.

%hr
%br

- @articles.each do |article|
  .article
    %h3.article-title
      = link_to article.title, news_article_path(article)
    %h6.article-published-at.text-muted
      = article.published_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long)
      PST
    .article-body
      = markdown(article.body)
