%h1 New Video
%p.text-muted
  Submit your videos for inclusion on DroneHome's Videos section. These videos should be
  informative, helpful, or otherwise beautiful to watch. You are allowed to submit your
  own footage and projects, but know that we will review submissions.
  
= render 'form'
