%h1 Add Your Order

%p.alert.alert-info
  You should add your
  %strong Mavic Pro
  order to the list if you are not already on it. This will allow us
  to monitor your order for progress, share basic information about your order with others, and
  get a sense of how DJI is shipping these orders out.

%p.alert.alert-warning
  Keep in mind that using this form will add your order but it will not keep it up to date automatically.
  You must come back and resubmit this form when you want to update your listing.
  If you want it to update automatically, we recommend the 
  = link_to 'DJI CLI tool', 'http://github.com/kevinelliott/dji'
  running on your computer.

= render 'form'
