%h1 Updating Tracking
%p
  Now attempted to update tracking details for all orders that have shipping companies.

- @orders.each do |order|
  .order
    .order-title
      = order.merchant.name
      Order
      = order.order_id

    - if order.tracking_number.present?
      - case order.shipping_company.downcase
      - when 'dhl' then
        Checking DHL...
        - tr = DJI::DHL.track(order.tracking_number)
        - tr.shipments.each do |shipment|
          = shipment.waybill
          - order.update(estimated_delivery_at: shipment.estimated_delivery_date, delivery_status: 'enroute')
    - else
      No tracking number for DHL.
