.article {

  .article-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    a { color: #333; }
  }

  .article-published-at {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
  }

  .article-body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}