.orders-header {
  padding: 20px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.orders-subheader {
  padding: 20px;
  margin-bottom: 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.shipping-status-pending, .payment-status-pending, 
.shipping-company-pending, .delivery-status-pending {
  background-color: #ffcccc;
  color: #cc3333;
}

.shipping-status-shipped, .payment-status-pay-confirmed,
.shipping-company-selected, .delivery-status-delivered {
  background-color: #ccffcc;
  color: #009900;
}

.delivery-status-enroute {
  background-color: #fec;
  color: #f90;
}

.delivery-status-arriving {
  background-color: #cef;
  color: #09f;
}

.shipping-status-unknown, .payment-status-unknown,
.shipping-company-unknown, .delivery-status-unknown {
  background-color: #cccccc;
  color: #000000;
}
