
.shipping-status-pending {
  background-color: #ffcccc;
  color: #ff3333;
}

.shipping-status-shipped {
  background-color: #ccffcc;
  color: #33ff33;
}

.shipping-status-unknown {
  background-color: #cccccc;
  color: #000000;
}