.video {
  margin-bottom: 30px;

  .video-header {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;

    .video-title {
      margin: 0;
      a { color: #666; }
    }
  }

  .video-body {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .video-footer {
    padding: 10px;
    border: 1px solid #ccc;
  }
}
