.video {
  margin-bottom: 30px;

  .video-header {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;

    .video-title {
      margin: 0;
      a { color: #666; }
    }
    
    .video-posted-at {
      margin: 0;
    }
  }

  .video-body {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .video-description {
    padding: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .video-footer {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
  }
}
