.container
  %hr
  %small
    Have issues, ideas, or comments? Contact Kevin at
    = mail_to 'kevin@welikeinc.com', 'kevin@welikeinc.com', subject: 'DJI Track'
    and you can find me as
    %strong kevinelliott
    on the #{link_to 'DJI Forums', 'http://forum.dji.com'}, #{link_to 'RC Groups', 'http://rcgroups.com'}, or #{link_to 'MavicPilots', 'http://mavicpilots.com'}.
  %br
  %br