%li.nav-item{ class: controller.class.parents.include?(News) ? 'active' : '' }
  = link_to 'News', news_root_path, class: 'nav-link'
%li.nav-item{ class: controller.controller_name.eql?('manufacturers') ? 'active' : '' }
  = link_to 'Manufacturers', manufacturers_path, class: 'nav-link'
%li.nav-item{ class: controller.controller_name.eql?('terminology') ? 'active' : '' }
  = link_to 'Terminology', terminology_path, class: 'nav-link'
%li.nav-item{ class: controller.class.parents.include?(DjiTrack) ? 'active' : '' }
  = link_to 'DJI Track', dji_track_root_path, class: 'nav-link'
