.container
  %nav.navbar.navbar-light.bg-faded
    %ul.nav.navbar-nav
      %li.nav-item{ class: controller.controller_name.eql?('visitors') ? 'active' : '' }
        = link_to "DJI Track", dji_track_root_path, class: 'nav-link'
      %li.nav-item{ class: controller.controller_name.eql?('orders') && controller.action_name.eql?('index') ? 'active' : '' }
        = link_to "Orders", dji_track_orders_path, class: 'nav-link'
      %li.nav-item{ class: controller.controller_name.eql?('orders') && controller.action_name.eql?('recent') ? 'active' : '' }
        = link_to "Recently Shipped", recent_dji_track_orders_path, class: 'nav-link'
      %li.nav-item{ class: controller.controller_name.eql?('orders') && controller.action_name.eql?('charts') ? 'active' : '' }
        = link_to "Charts", charts_dji_track_orders_path, class: 'nav-link'
